@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #1C1C1C;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #F6762C;
  border-radius: 5px;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn--small {
  width: 140px;
  height: 40px;
  font-size: 12px;
}

.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header__nav a.active {
  font-weight: 500;
  opacity: 1;
}

.header__nav a:hover {
  opacity: 0.9;
}

.welcome {
  box-sizing: border-box;
  min-height: 100vh;
  margin-top: -100px;
  padding: 240px 0;
  background-image: url("../img/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome__text {
  max-width: 555px;
}

.welcome__subtitle {
  margin: 0 0 7px 0;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.welcome__title {
  font-size: 58px;
}

.welcome__desc {
  margin: 40px 0;
  font-size: 18px;
  opacity: 0.7;
  line-height: normal;
}

.food-list {
  padding: 100px 0;
}

.food-list .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.food-list-card {
  width: 260px;
  overflow: hidden;
  text-align: center;
  background: #312f30;
  border-radius: 10px;
}

.food-list__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.food-list__text-wrapper {
  padding: 30px 20px;
}

.food-list__title {
  font-size: 20px;
  margin-bottom: 13px;
}

.food-list__desc {
  font-size: 16px;
  opacity: 0.7;
  line-height: normal;
}

.order {
  background-color: #312F30;
  padding: 60px 0;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 90px;
}

.order__img {
  max-width: 470px;
}

.order__text {
  max-width: 370px;
}

.order__title {
  font-size: 44px;
  margin-bottom: 25px;
}

.order__desc {
  opacity: 0.7;
  margin-bottom: 15px;
  line-height: normal;
}

.order__price {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #f6762c;
}

.order__price--old {
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.5;
  margin-left: 3px;
}

.order .btn {
  margin-top: 10px;
}

.product {
  padding: 150px 0;
}

.product .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product__card {
  width: 555px;
  min-height: 300px;
  padding: 60px 30px 60px 290px;
  background-color: #4b3a3a;
}

.product__card:nth-child(even) {
  padding: 60px 290px 60px 40px;
}

.product__title {
  margin-bottom: 20px;
  font-size: 30px;
}

.product__desc {
  margin-bottom: 10px;
  opacity: 0.7;
  line-height: normal;
}

.product__price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #f6762c;
}

.product__price--old {
  margin-left: 5px;
  text-decoration: line-through;
  opacity: 0.5;
}

.product .btn {
  margin-top: 10px;
}

.card-queen {
  background: url("../img/product-1.jpg") center/cover no-repeat;
}

.card-pizza {
  background: url("../img/product-2.jpg") center/cover no-repeat;
}

.card-burger {
  background: url("../img/product-3.jpg") center/cover no-repeat;
}

.card-johns {
  background: url("../img/product-4.jpg") center/cover no-repeat;
}

.feedback {
  padding-bottom: 200px;
}

.feedback .container {
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__text {
  max-width: 370px;
  text-align: center;
}

.feedback__text::before {
  content: url("../img/icons/quote.svg");
  margin-bottom: 40px;
}

.feedback__desc {
  margin: 30px 0;
  opacity: 0.7;
}

.feedback__author {
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.feedback__subtitle {
  font-size: 12px;
  opacity: 0.7;
}

.download {
  background-color: #312F30;
  padding: 60px 0;
}

.download .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.download__title {
  font-size: 40px;
}

.footer {
  padding: 120px 0;
}

.footer a {
  opacity: 0.8;
  font-size: 12px;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__link-mail {
  margin-bottom: 10px;
}

.footer__link-mail::before {
  content: url("../img/icons/mail.svg");
  margin-right: 10px;
}

.footer__link-web::before {
  content: url("../img/icons/global.svg");
  margin-right: 10px;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__list-title .footer__title {
  margin-bottom: 15px;
}

.footer__title {
  font-weight: 500;
}

.footer__list-item {
  margin-bottom: 15px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__socials a {
  opacity: 1;
}

.footer__socials-title {
  margin-bottom: 15px;
}

.footer__socials-icon {
  margin-right: 6px;
}

.footer__socials-icon:last-child {
  margin-right: 0;
}

@media (max-width: 1100px) {
  .welcome__desc {
    opacity: 1;
  }
  .food-list .container {
    justify-content: space-evenly;
  }
}
@media (max-width: 950px) {
  .order .container {
    flex-direction: column;
    text-align: center;
    padding-right: 15px;
  }
  .order .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .product {
    padding: 100px 0;
  }
  .welcome__desc {
    margin: 20px 0;
  }
}
@media (max-width: 850px) {
  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "list list" "contacts socials";
    justify-items: center;
    gap: 40px 150px;
  }
  .footer__contacts {
    grid-area: contacts;
    justify-self: end;
  }
  .footer__nav {
    grid-area: list;
  }
  .footer__socials {
    grid-area: socials;
    justify-self: start;
    align-self: center;
  }
  .footer__list {
    gap: 80px;
  }
  .feedback {
    padding-bottom: 60px;
  }
  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 650px) {
  .header .btn {
    display: none;
  }
  .feedback__img {
    width: 200px;
  }
  .download__title {
    font-size: 24px;
  }
  .welcome__text {
    max-width: 100%;
  }
  .welcome__title {
    font-size: 40px;
  }
  .welcome {
    padding: 150px 0 100px;
    min-height: auto;
  }
  .product__card {
    width: 100%;
    padding-left: 50%;
  }
  .product__card:nth-child(even) {
    padding-right: 50%;
  }
  .product__title {
    font-size: 25px;
  }
  /*

  */
}
@media (max-width: 500px) {
  .header .container {
    flex-direction: column;
    gap: 10px;
  }
  .header__list {
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
  }
  .welcome {
    margin-top: -265px;
    padding-top: 280px;
  }
  .welcome__title {
    font-size: 30px;
  }
  .welcome__desc {
    font-size: 12px;
  }
  .food-list, .product {
    padding: 60px 0;
  }
  .order__title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .order__img {
    width: 100%;
  }
  .feedback .container {
    flex-direction: column;
    gap: 30px;
  }
  .feedback__text::before {
    display: none;
  }
  .download .container {
    flex-direction: column;
    gap: 20px;
  }
  .footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "list" "contacts" "socials";
    gap: 20px;
  }
  .footer__contacts {
    justify-self: center;
  }
  .footer__socials {
    justify-self: center;
    align-self: flex-start;
  }
  .footer__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
  }
  .footer__logo {
    align-self: center;
  }
  .footer {
    padding-bottom: 0;
  }
  .feedback__author {
    font-size: 18px;
  }
  .feedback__desc {
    margin: 20px 0;
    font-size: 14px;
  }
  .product__card {
    padding-right: 30px;
    padding-left: 30px;
  }
  .product__card:nth-child(even) {
    padding-right: 30px;
    padding-left: 30px;
  }
  .product__desc {
    opacity: 1;
  }
}
/*
	 .header .container {
		flex-direction: column;
	 }

	 .header__list {
		margin-top: 20px;
		flex-direction: column;
		text-align: center;
	 }

	 .welcome {
		margin-top: -313px;
	 }
*/